<h1>Posts</h1>

<%= for post <- @posts do %>
  <div>
    <h1>
      <%= link post.title, to: Routes.post_path(@conn, :show, post.id), method: "get"%>
    </h1>

  <%= if @authenticated do %>
    <%= link "Delete post", to: Routes.post_path(@conn, :delete, post.id), method: "delete" %>
  <% end %>
  </div>
<% end %>

<%= if @authenticated do %>
  <%= link "Write post" , to: Routes.post_path(@conn, :new), method: "get" %>
<% end %>
